[mysqld]
# set the SQL mode to strict
# sql-mode="modes..."
explicit_defaults_for_timestamp=1
sql_mode='STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,ERROR_FOR_DIVISION_BY_ZERO,NO_ZERO_IN_DATE,NO_AUTO_CREATE_USER'
